#container {
  box-shadow: 0 15px 30px 1px grey;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 5em auto;
  height: 350px;
  width: 700px;
}

.pokemon-details {
  position: relative;
  text-align: left;
  padding: 52px;
  height: 100%;
  float: left;
  width: 40%;
  background: #082040;
  font-size: 105%;
  color: #fff;
}

.title {
  text-transform: uppercase;
}

.pokemon-image {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 45%;
  display: inline-block;
}

#container img {
  width: 100%;
  height: 100%;
}

.center {
    text-align: center;
}

.button {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  background-color: #082040;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}