<button (click)="goBack()" class="button">
  <svg
    width="20"
    height="20"
    stroke="currentColor"
    stroke-width="2">
    <path
      d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
  </svg>
  Go back
</button>

<div id="container">
  <div class="pokemon-details">
    <h1 class="title">{{ fields.name }}</h1>
    <ul>
      <li><strong>Number : </strong>{{ id }}</li>
      <li><strong>Name : </strong>{{ fields.name }}</li>
      <li><strong>Type: </strong>{{ fields.types[0].type.name }}</li>
      <li><strong>Stats: </strong>{{ fields.stats[0].base_stat }}</li>
    </ul>
  </div>

  <div class="pokemon-image">
    <img
      src="{{ fields.sprites.other.dream_world.front_default }}"
      alt="{{ fields.name }}"
    />
  </div>
</div>
