#container {
  box-shadow: 0 15px 30px 1px grey;
  border-radius: 5px;
  overflow: hidden;
  margin: 5em auto;
  height: 350px;
  width: 700px;
}

.pokemon-details {
  position: relative;
  text-align: left;
  padding: 52px;
  height: 100%;
  float: right;
  width: 40%;
  background: #082040;
  font-size: 105%;
  color: #fff;
}

.pokemon-title {
  text-transform: uppercase;
}

.pokemon-image {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 45%;
}

#container img {
  width: 100%;
  height: 100%;
}

li {
  list-style: "◓ ";
}

.button {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  background-color: #082040;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.pokemon-generation {
  text-transform: uppercase;
  color: #082040;
  position: absolute;
  right: 6px;
  font-size: 105%;
  top: -14px;
}
