<button (click)="goBack()" class="button">
  <svg width="20" height="20" stroke="currentColor" stroke-width="2">
    <path d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
  </svg>
  Go back
</button>

<div id="container">
  <div class="pokemon-image">
    <h4 class="pokemon-generation" *ngIf="id < 9">{{ generation?.name }}</h4>
    <img src="{{ fields.sprites?.other.dream_world.front_default }}" alt="{{ fields.name }}"/>
  </div>
  <div class="pokemon-details">
    <h2 class="pokemon-title">{{ fields.name }} #{{getNumbers()}}</h2>
    <ul>
      <li *ngIf="fields.length !== 0"><strong>Type: </strong>{{ fields.types[0].type.name }}</li>
      <li *ngIf="fields.length !== 0"><strong>Stats: </strong>{{ fields.stats[0].base_stat }}</li>
      <li><strong>Height: </strong>{{ fields.height }}"</li>
      <li><strong>Weight: </strong>{{ fields.weight }} lbs</li>
    </ul>
  </div> 
</div>
