<button (click)="goBack()" class="button">
  <svg width="20" height="20" stroke="currentColor" stroke-width="2">
    <path d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
  </svg>
  Go back
</button>

<div class="pokemon-container">
<div id="container">
  <div class="pokemon-image">
    <h4 class="pokemon-generation" *ngIf="id < 9">{{ generation?.name }}</h4>
    <img src="{{ fields.sprites?.other.dream_world.front_default }}" alt="{{ fields.name }}"/>
  </div>
  <div class="pokemon-details">
    <h2 class="pokemon-title">{{ fields.name }} #{{getNumbers()}}</h2>
    <ul >
      <li *ngFor="let charts of fields.types; let i = index">
        <strong>Type-{{i+1}}: </strong>{{ fields.types[i].type.name }}</li>
      <li><strong>Height: </strong>{{ fields.height }}"</li>
      <li><strong>Weight: </strong>{{ fields.weight }} lbs</li>
    </ul>
  </div> 
</div>
</div>

<div class="pokemon-stats">
  <dl>
    <dd *ngFor="let charts of fields.stats; let i = index"
    class="percentage percentage-{{fields.stats[i].base_stat}}">
      <span class="stats-text">Base Stat: {{fields.stats[i].base_stat}}</span>
    </dd>
  </dl>
</div>