<div class="container">
    <div class="line">
        <input type="text" 
            name="filterPokemon"
            placeholder="Search..."
            [ngModel]="findPokemon"
            (ngModelChange)="searchPokemon($event)"
            class="searchBar"
        >
    </div>
    <search-card class="lined"
        (searchValue)="searchPokemon($event.target.value)"
    ></search-card>
    <div class="pokemon" >
        <div class="card" *ngFor="let pokemon of pokemonData; let i = index">
            <div class="pokemon-card" id="pokemonContent" [ngStyle]="{'background-color': getBackgroundColors(pokemon)}">
                <img class="img-container" [src]="getImages(pokemon)" >
                <h2 class="pokemon-name">#{{getNumbers(pokemon)}} {{pokemon.name}}</h2>                
            </div>
        </div>
        <not-found-card *ngIf="pokemonData.length == 0"></not-found-card>    
    </div>
    <button (click)="loadMorePokemons()">Load More</button>
</div>