.pokemon-header{
    grid-area: header;
}

.pokemon-footer{
    grid-area: footer;
}

.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header header header"
    ". . card card card card . ."
    "footer footer footer footer footer footer";
}

img{
    max-width: 100%;
}


/*Pokemon Cards*/

.pokemon-card{
    grid-area: card;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 10% 10px 10%;
	gap: 20px;
}

.pokemon{
	border-radius: 8px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	text-align: center;
    width: 200px;
}

.pokemon .img-container {
	border-radius: 20px;
	width: 140px;
	height: 140px;
	text-align: center;
    margin: auto;
}

.pokemon .img-container img {
	margin-top: 20px;
	max-width: 100%;
}

.pokemon .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}