<div class="todoapp">
    <h1>Todos</h1>

    <input type="text" 
        placeholder="What needs to be done?"
        class="new-todo"
        id="toDo"
        value={{toDo}}
        #toDos
        (change)="changesMade()"
    >
    <button (click)="createTodo()" class="btn button" autofocus>Save Todo</button>
    <ul class="todo-list">
        <li *ngFor="let message of messages; let i = index">{{messages}}
        <span (click)="deleteTodo(i)" class="button">[X]</span>
        </li>
    </ul>
</div>
