<div class="todoapp">
    <h1>Todos</h1>
        <input type="text"
            class="new-todo"
            autofocus
            placeholder="What needs to be done?"
            id="toDo"
            [(ngModel)]="toDo"
            (keyup.enter)="saveToDo()"
        >
    <ul class="todo-list">
        <li *ngFor="let message of messages; let i = index">
		<input type="checkbox" (click)="changeStyle()">
        <span [ngClass]="{'seleccionado': iscomplete}" class="button">{{message}}</span>
		<span (click)="deleteToDo(i)">[x]</span>
        </li>
    </ul>
</div>
<div *ngIf="messages.length > 0 else noMessages">
    <span>We have some Todo's</span>
</div>
<ng-template #noMessages>
    <p>Hooray! No Todo's left</p>
</ng-template>

<button class="btn-primary" (click)="deleteAll()">Delete All</button>