<body>
  <div class="header">
    <!-- <img class="img" src="../../../assets/Pokémon_Pinball_Rubí_y_Zafiro.png" alt="" height="160" routerLink="/"/> -->
  
      <button type="button" class="btn-primary" routerLink="">Home</button>
      <button type="button" class="btn-primary" routerLink="/pokedex">
        Pokedex
      </button>
      <button type="button" class="btn-primary" routerLink="pokedex/add">
        Add New
      </button>
  
  </div>
  <header-card></header-card>
  <router-outlet></router-outlet>
  <footer-card></footer-card>
</body>
